[Unit]
Description=Electrumx
After=network.target

[Service]
EnvironmentFile=/etc/electrumx.conf
ExecStart=/usr/local/bin/electrumx_server
User=root
LimitNOFILE=8192
TimeoutStopSec=30min
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
